body {
  display: flex;
  flex-direction: column;
  background-color: beige;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow: auto;
  color: brown;
}

aside {
  flex: 1;
  overflow: auto;
}

h1 {
  color: blueviolet;
}
